@page "/book/{id:int}"

@inject IBookService _service

<h3>Details</h3>

@if (_loading)
{
    <Loading />
}

<EditForm Model="_model">
    <fieldset disabled>
        <div class="form-group mb-3">
            <label class="form-label">Title</label>
            <InputText class="form-control" @bind-Value="_model.Title" />
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Price</label>
            <InputNumber class="form-control" @bind-Value="_model.Price" />
        </div>

        <div class="form-group mb-3">
            <label class="form-label">ISBN</label>
            <InputText class="form-control" @bind-Value="_model.Isbn" />
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Year</label>
            <InputNumber class="form-control" @bind-Value="_model.Year" />
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Summary</label>
            <InputTextArea class="form-control" @bind-Value="_model.Summary" />
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Author</label>
            <InputText class="form-control" @bind-Value="_model.AuthorName" />
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Image</label>
            <div>
                <img src="@_model.Image" width="200" height="200" class="img-thumbnail my-3" />
            </div>
        </div>

    </fieldset>

    <div class="mb-3">
        <a class="btn btn-light" href="/books">
            <span class="oi oi-media-skip-backward" aria-hidden="true"></span>
            Back to list
        </a>

        <a class="btn btn-warning" href="/book/edit/@_model.Id">
            <span class="oi oi-pencil" aria-hidden="true"></span>
            Edit
        </a>
    </div>
</EditForm>

@code {
    private BookDto _model = new();
    private bool _loading = true;

    [Parameter] public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
        {
            var response = await _service.Get(Id);
            if (response.Success)
            {
                _model = response.Data;
            }
        }

        _loading = false;
    }
}
