@page "/login"
@inject IClient _httpClient
@inject NavigationManager _navigationManager
@*https://learn.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-7.0&pivots=server*@
@inject ProtectedLocalStorage _protectedLocalStorage
@inject AuthenticationStateProvider _authenticationStateProvider

<div class="offset-md-3 col-md-6">
    <h3>Login</h3>

    @if (!string.IsNullOrEmpty(_message))
    {
        <div class="text-danger">
            @_message
        </div>
    }

    <div>
        <EditForm Model="_model" OnValidSubmit="submit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label class="form-label">User Name</label>
                <InputText class="form-control" @bind-Value="_model.UserName" />
                @*<div class="form-text">We'll never share your email with anyone else.</div>*@
                <ValidationMessage For="@(()=>_model.UserName)" />
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <InputText class="form-control" type="password" @bind-Value="_model.Password" />
                <ValidationMessage For="@(()=>_model.Password)" />
            </div>
            <button type="submit" class="btn btn-primary" disabled="@(_busy)">
                @if (_busy)
                {
                    <div class="spinner-border spinner-border-sm text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
                Submit
            </button>
        </EditForm>
    </div>
</div>
@code {
    private LoginModel _model = new LoginModel();
    private string _message = string.Empty;
    private bool _busy = false;

    private async Task submit()
    {
        _message = string.Empty;
        _busy = true;

        try
        {
            var response = await _httpClient.LoginAsync(_model);
            if (response != null)
            {
                //store token
                await _protectedLocalStorage.SetAsync("token", response.Token);

                //change auth state
                await ((ApiAuthenticationStateProvider)_authenticationStateProvider).Login();

                _navigationManager.NavigateTo("/");
            }

            _message = "Invalid Credentials";
        }
        catch (ApiException ex)
        {
            if (ex.StatusCode >= 200 && ex.StatusCode <= 299)
            {
                _navigationManager.NavigateTo("/");
            }
            else if (ex.StatusCode == 401)
            {
                _message = "Invalid Credentials";
            }
            else
            {
                _message = ex.Response;
            }
        }
        catch (Exception ex)
        {
            _message = ex.Message;
        }

        _busy = false;

    }
}
